body{
    background-color: hsl(234, 29%, 20%);
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin: 0 auto;
    width: 100vw;
    /* Whatever width you want */
  }
  .grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
    width: 50vw;
    height: auto;
  }
  .panel-right{
    border-radius: 0;
    padding-right:10px;
  }

  .panel-left{
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
  }


  ul{
    text-decoration: none;
    list-style: none;
    padding: 0;

  }

 li{
  background-image: url(../assets/images/icon-list.svg);
  background-repeat:no-repeat;
  background-position: left;
  background-size:1.5vw;
  padding-left:2vw;
  margin: 1.5vw 0;
 }

  .panel-left >h1{
    font-size:3.5vw;
  }

  .panel-left > p,span,ul{
    font-size: 1vw;

  }



  .img-banner{
    width:23vw;
    height: auto;
  }