

body{
    background-color: hsl(234, 29%, 20%);
    text-align: left;
    font-family: Roboto;
}
p,span,li{
  font-size: 1.1vw;
}



.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin: 0 auto;
    width: 100vw;
    /* Whatever width you want */
  }
  .grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
    width: 50vw;
    height: auto;
  }
  .panel-right{
    border-radius: 0;
    padding-right:10px;
  }



  ul{
    text-decoration: none;
    list-style: none;
    padding: 0;

  }

 li{
  background-image: url(../assets/images/icon-list.svg);
  background-repeat:no-repeat;
  background-position: left;
  background-size:1.2vw;
  padding-left:2vw;
  margin: 1.5vw 0;
 }

  .panel-left >h1{
    font-size:3.5vw;
  }


  .img-banner{
    width:23vw;
    height: auto;
  }


  form,#em-box{
    font-size: 0.9vw;
  }

  form{
    margin-left:2vw;
  }

  
  input[type=text], select {
    width: 90%;
    height: 3vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;

  }
  #title-label,input[type=submit]{
    font-weight: 700;
  }
 
  
  input[type=submit] {
    width: 90%;
    background-color: hsl(234, 29%, 20%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }