

body{
    background-color: hsl(234, 29%, 20%);
    text-align: left;
    font-family: Roboto;
}
p,li, input[type=submit]{
  font-size: 0.9vw;
}

h1{
  font-size:3vw;
  margin-bottom:0;
}


@media only screen and (min-width: 600px) {
  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin: 0 auto;
    width: 100vw;
    /* Whatever width you want */
  }

  .grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
    width: 50vw;
    height: 33vw;
  }
  .panel-right{
    border-radius: 0;

  }
  .panel-left{
    padding: 0 3vw;
    padding-top:2vw;
  }

  .list-container{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .list{
    text-decoration: none;
    list-style: none;
    padding-left:0;
    margin-bottom:1.9vw;

  }

  .list > .list-icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5vw;;
  }

 .mobile-img{
  display:none;
 }


  .img-banner{
    width:22vw;
    height: auto;
  }


  form,#em-box{
    font-size: 0.8vw;
  }


  
  input[type=text], select {
    width: 100%;
    height: 3vw;
    padding: 1vw 2vw;
    margin: 1vw 0;
    display: inline-block;
    border: 1.5px solid hsl(234, 29%, 20%);;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;

  }
  #title-label,input[type=submit]{
    font-weight: 700;
  }


  input[type=submit] {
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: white;
    padding: 1.2vw 1vw;
    padding-bottom:0.8vw;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  input[type=submit]:hover{
    background-image: linear-gradient(to right, hsl(4, 100%, 67%),hsl(24, 100%, 64%));
  }

}

@media only screen and (min-width:375px) and (max-width: 600px) {

  body, html{
    margin:0;
    background-color: #fff;
  }

  h1{
    font-size:9.5vw;
  }

  p,li,form,#em-box,input[type=submit]{
    font-size: 4vw;
  }

   .outer {
    width: 100%;
  }
  
  .middle {
    width: 100%;
  }
  
  .inner {
    margin: 0 auto;
    padding:0;
    width: 100%;
    /* Whatever width you want */
  }

  .grid-container{
    display: flex;
    flex-direction: column-reverse;
  }

  .list-container {
    width: 80vw; /* Adjust this width as needed for mobile */
    margin-bottom: 5vw; /* Adjust the margin between list items for mobile */
  }

  .list {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    margin-bottom: 5vw; /* Adjust the margin between list items for mobile */
  }


  .list-icon {
    vertical-align: middle;
    margin-right: 20vw; /* Adjust this margin as needed for desktop */
  }
  /* ... (other existing CSS rules) */




  .panel-left{
    width: 75vw;
    margin:0 auto;
  }

  .panel-right{
    height: 80vw;
  }

  .desktop-img{
    display: none;
  }

  .img-banner{
    width: 100vw;
    
    height: auto;
  }




  
  input[type=text], select {
    width: 100%;
    height: 10vw;
    padding: 5vw 8vw;
    margin: 1vw 0;
    display: inline-block;
    border: 1.5px solid hsl(234, 29%, 20%);;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;

  }
  #title-label,input[type=submit]{
    font-weight: 700;
  }


  input[type=submit] {
    width: 100%;
    height: 10vw;
    background-color: hsl(234, 29%, 20%);
    color: white;
    padding: 1.2vw 1vw;
    padding-bottom:0.8vw;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  input[type=submit]:hover{
    background-image: linear-gradient(to right, hsl(4, 100%, 67%),hsl(24, 100%, 64%));
  }

}



 